* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

div {
    background-color: lightgrey;
    width: 300px;
    height: 400px;
    border: 15px solid black;
    }

#epson {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#envy {
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#inkjet {
    position: absolute;
    top: 145%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 25px;
    margin: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    color: black;
    text-align: center;
    margin: 4px 16px;
    border: 2px solid black;
}
